@model ClientesPedidos.ViewModels.PedidoCreateViewModel

@{
    ViewData["Title"] = "Novo Pedido";
}

@section Styles {
    <link rel="stylesheet" href="~/css/pages/clientes.css" />
}

<div class="page-container">

    <h1 class="page-title">Novo Pedido</h1>

    <div class="card form-section">

        <h4>Cadastro de Pedido</h4>

        <form asp-action="Create" method="post">
            @Html.AntiForgeryToken()

            <label>Cliente</label>
            <select asp-for="ClienteId" class="form-control">
                <option value="">Selecione</option>
                @foreach (var cliente in Model.Clientes)
                {
                    <option value="@cliente.Id">@cliente.Nome</option>
                }
            </select>
            <span asp-validation-for="ClienteId" class="text-danger"></span>

            <label>Descrição</label>
            <input asp-for="Descricao" class="form-control" />

            <label>Valor</label>
            <input asp-for="Valor" class="form-control" />

            <button type="submit" class="btn-add">Salvar</button>
        </form>

    </div>

</div>