@{
    ViewData["Title"] = "Página Inicial";
}

<div class="dashboard-container">

    <div class="dashboard-content">
        <h1>Bem-vindo ao sistema de Clientes e Pedidos.</h1>
       

        <div class="cards">

            <div class="card">
                <h3>Clientes</h3>
                <p>Gerencie os clientes cadastrados.</p>
                <a asp-controller="Clientes" asp-action="Index" class="btn btn-acessar">Acessar</a>
            </div>

            <div class="card">
                <h3>Pedidos</h3>
                <p>Gerencie os pedidos realizados.</p>
                <a asp-controller="Pedidos" asp-action="Index" class="btn btn-acessar">Acessar</a>
            </div>

        </div>
    </div>

</div>