@model List<ClientesPedidos.Models.ClienteModel>

@{
    ViewData["Title"] = "Clientes";
}

<h2>Clientes</h2>

<hr />

<h4>Novo Cliente</h4>

<form asp-action="Criar" method="post">
    <div>
        <label>Nome:</label>
        <input type="text" name="nome" required />
    </div>

    <div>
        <label>Telefone:</label>
        <input type="text" name="telefone" required />
    </div>

    <br />
    <button type="submit">Adicionar</button>
</form>

<hr />

<h4>Lista de Clientes</h4>

<table border="1" cellpadding="5">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Telefone</th>
           
        </tr>
    </thead>
    <tbody>
        @foreach (var cliente in Model)
        {
            <tr>
                <td>@cliente.id</td>
                <td>@cliente.nome</td>
                <td>@cliente.telefone</td>
                <td>
                    <a asp-action="Deletar" asp-route-id="@cliente.id">
                        Excluir
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>